{% extends "base.html" %}

{% block content %}
    <h1>Add a New Blog</h1>
    <form method='post'>
        <label>Title for New Blog</label>
        <input type="text" name='title' />
        {% if title_error %}
            <h3 class='error'>{{ title_error }}</h3>
        {% endif %}
        <p>
        <label>Your New Blog Entry</label>
        <textarea rows="5" columns="30" name='body'>Your text here</textarea>
        {% if text_error %}
            <h3 class='error'>{{ text_error }}</h3>
        <p>
        <input type="submit" value='Add Entry' />
    </form>

    
{% endblock %}